.app {
    margin: auto;
    width: fit-content;
    border: 3px solid #73AD21;
    padding: 10px;
}

.todo {
    display: block;
    width: 200px;
    text-align: left;
    margin-bottom: 5px;
    background-color: white;
    border: 0px;
    border-bottom: 1px solid gray;
}

.done{
    text-decoration: line-through;
    color: grey;
}

h3 {
    text-align: center;
}
